
@{
    ViewData["Title"] = "Şifre DEğiştirme Sayfası";
    Layout = "~/Views/Shared/Writer_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<br />
@if (TempData["WriterMesaj"] != null)
{
    <br />
    <div class="alert alert-success alert-dismissible " role="alert">
         @TempData["WriterMesaj"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br />
}
<form action="/Write/WriterPassword"  name="passwordFormu" method="post" class="form-group">
    <input name="WriterID" value="@Model.WriterID" type="hidden" />
    <input name="WriterMail" value="@Model.WriterMail" type="hidden" required class="form-control" />
    @*<input name="WriterStatus" value="@Model.WriterStatus" type="hidden" required class="form-control" />*@
    <input name="WriterName" value="@Model.WriterName" type="hidden" required class="form-control" />
    <input name="WriterAbout" value="@Model.WriterAbout" type="hidden" required class="form-control" />
    <input name="WriterImageName" value="@Model.WriterImageName" type="hidden" required class="form-control" />

    <label>Mevcut Şifre:</label>
    <input name="WriterPassword"  type="password" required class="form-control"   />
    <br />
    <label>Yeni Şifre: (Min:4 - Max:12 Karakter)</label>
    <input name="YeniSifre" id="YeniSifre"  type="password" required class="form-control" minlength="4" maxlength="12" />
     <br />
   <button class="btn btn-primary">Şifreyi Değiştir</button>
</form>

